@import "variables";
@import "settings";
@import "flex-grid/flex-grid";
@import "app.icons";
@import "default";
@import "animate";

.SCSS_ROOT {
  text-align: center;

  .SCSS_HEADER {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;

    .SCSS_LOGO {
      animation: SCSS_LOGO_SPIN infinite 20s linear;
      height: 80px;
    }
  }

  .SCSS_NTRO {
    font-size: large;
  }

  @keyframes SCSS_LOGO_SPIN {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

}

